body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    min-width: 250px;
    padding: 16px;
    margin: 16px;
}

.card img {
    max-width: 100%;
    height: auto;
    border-radius: 15px;
}

.card h2 {
    margin-top: 15px;
    color: darkolivegreen;
}

.card p {
    margin: 8px 0;
}
